$fuente: 'Alegreya', serif;

$bg-page-main: radial-gradient(circle, rgba(2,1,33,1) 0%, rgba(3,3,65,1) 70%, rgba(0,0,0,0.9892156691778273) 100%);

$color-main: #7140b6;

$color-HyF: #c1c1c1;

$color-title: #ffffff;

$ancho-container: 1000px;

$color-hover: #7140b6;

$font-size: 1.6rem;


